<!doctype html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
		<title>Student List</title>
		<style>
			* {margin:0px auto; text-align:center;font-family: 'Merriweather', serif;}
			div {padding:20px;}
			table {border-collapse: collapse;}
			table, th, td { border: 1px solid black; padding:10px;text-align: left;}
			th {background-color: #4CAF50;color: white;}
			tr:nth-child(even){background-color: #f2f2f2}
			button {padding:10px;margin-right:5px; width: 70%}
			#addbutton{width:20%;}
			#flash{width:20%;border:1px solid black;}
			
		</style>
	</head>
	<body>
		<div><h1>Student List</h1></div>
		   <section>
            {% for message in get_flashed_messages()%}
          <div>
            <p id="flash">{{ message }}</p>
              
          </div>
            {% endfor%}
        </section>
		<div>
									<table>
								<thead align="center">
									<tr>
										<th>Name</th>
										<th>Department</th>
										<th>Modify</th>
									</tr>
								</thead>
								<tbody>
										{% if data|length == 0 %}
									<tr>
										<td>No Data</td>
										<td></td>
									</tr>
										{% else %}
									<tr>
											{% for row in data %}
										<td>{{ row[1] }}</td>
										<td>{{ row[2] }}</td>
										<td align="center">
					 						<a href="/update/{{ row[0] }}"><button type="button" title="Update">Update</button></a>
					 					 	<a href="/delete/{{ row[0] }}"><button type="button" title="Delete">Delete</button></a>
										</td>           
									</tr>
											{% endfor %}
										{% endif%}   
								</tbody>
							</table>
			<div>
			  <a href="/add">
					<button type="button" id='addbutton'>Add Student</button>
			  </a>
			</div>
	</div>
	</body>
</html>

